body{
    background-color: black;
    
}
*{
    margin: 0px;
    padding: 0px;
}
.intro-main{
     height: 27px;
     width: 100%;
     background-color: rgb(124, 123, 123);
     display: flex;
     font-size: 14px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.intro-main-intro{
    height: 100%;
    width: 70%;
    /* background-color: rgb(84, 11, 180); */
    display: flex;
    padding-top: 3px;


}
.intro-main-intro-logo{
    color: rgb(245, 169, 7);
    margin-right: 8px;
    margin-left: 10px;

}
.intro-main-intro-text{
    color: rgb(214, 206, 206);
    font-size: 14px;
}
.intro-main-number{
    height: 100%;
    width: 15%;
    /* background-color: rgb(231, 235, 10); */
    display: flex;
    padding-top: 3px;


}
.intro-main-email{
    height: 100%;
    width: 15%;
    /* background-color: rgb(235, 10, 10); */
    display: flex;
    padding-top: 3px;

}

.nav-main{
    height:60px;
    width: 100%;
        /* background-color: white; */
    display: flex;
}

.nav-main-logo{
    height:100%;
    width: 10%;
    /* background-color: rgb(43, 9, 136); */
    margin-left: 3%;
    background-image: url('Images/LOGO.jpg');
    background-size: cover;


}

.nav-main-container{
    height:100%;
    width: 40%;
    /* background-color: rgb(182, 14, 182); */
    margin-left: 35%;
    display: flex;

}
.nav-option{
    height:40%;
    width: 20%;
    /* background-color: rgb(36, 219, 243); */
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10%;
    padding-top: 10px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: white;
    cursor: pointer;
    font-size: 14px;

}

.nav-option:hover{
     border-bottom: 2px solid white;
     font-size: 15px;
     color: wheat;
     
}

.nav-main-container-download{
    height:100%;
    width: 12%;
    /* background-color: rgb(100, 224, 16); */

}
.nav-main-container-download-button{
    height:50%;
    width: 80%;
    /* background-color: rgb(36, 219, 243); */
    margin-left: 20px;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10%;
    padding-top: 13px;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(245, 169, 7);
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;

}
.nav-main-container-download-button:hover{
    background-color: white;
    color: rgb(245, 169, 7);
  
}

.main-banner{
    height: 650px;
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
}

.main-banner-left{
    height: 300px;
    width: 40%;
    /* background-color: rgb(236, 16, 45); */
    margin-top: 12%;
    margin-left: 8% ;
    border-left: 10px solid red;


}
.main-banner-right{
    height: 600px;
    width: 50%;
    /* background-color: rgb(132, 185, 7); */

}

.main-banner-left-name{
    height: 60px;
    width: 80%;
    /* background-color: rgb(91, 15, 110); */
    color: white;
    font-size: 50px;
    font-family: 'Orelega One', cursive;
    font-weight: bold;
    margin-left: 8%;
    margin-top: 9%;
    
}

.main-banner-left-desc{
    height: 60px;
    width: 90%;
    /* background-color: rgb(170, 125, 131); */
    color: rgb(202, 199, 199);
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 8%;
    margin-top: 2%;

}
.main-banner-left-button{
    height: 60px;
    width: 20%;
    /* background-color: rgb(84, 163, 19); */
    margin-left: 6%;
    margin-top: 1%;
    padding-top: 1px;
}

.know-more-btn{
    height: 30px;
    width: 90%;
    background-color: rgb(245, 169, 7);
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-top: 5px;
    text-align: center;
    padding-top: 10px;
    border-radius: 3px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;


}

.know-more-btn:hover{
    background-color: rgb(255, 255, 255);
    color:  rgb(245, 169, 7);
}

.main-banner-left-contact{
    height: 40px;
    width: 45%;
    /* background-color: rgb(245, 169, 7); */
    margin-top: 5px;
    margin-left: 250px;
    display: flex;

}

.main-banner-left-contact-icon{
    height: 35px;
    width: 55%;
    /* background-color: rgb(161, 13, 105); */
    margin-top: 5px;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 32px;
    color: red;
    text-align: center;
    cursor: pointer;
}

.main-banner-left-contact-icon:hover{
    border-bottom: 1px solid white;
    color: violet;
}

.footer{
    height: 200px;
    width: 100%;
    background-color: rgb(49, 49, 49);
    display: flex;
}

.footer-about{
    height: 200px;
    width: 100%;
    background-color: rgb(49, 49, 49);
    display: flex;
    margin-top: 1100px;
}

.footer-left{
    height: 200px;
    width: 50%;
    /* background-color: rgb(211, 181, 181); */
    display: flex;

}

.footer-right{
    height: 200px;
    width: 50%;
    /* background-color: rgb(247, 8, 8); */

}

.footer-left-services{
    height: 150px;
    width: 30%;
    /* background-color: rgb(41, 12, 211); */
    margin-left: 10%;
    margin-top: 15px;

}

.footer-left-services-title{
    height: 25px;
    width: 80%;
    /* background-color: rgb(108, 211, 12); */
    margin-left: 25px;
    margin-top: 25px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 'sans-serif';
    font-weight: bold;
    color: rgb(177, 173, 173);
    margin-bottom: 5px;

}
.footer-left-services-desc{
    height: 20px;
    width: 80%;
    /* background-color: rgb(169, 189, 151); */
    margin-left: 25px;
    margin-top: 3px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 'sans-serif';
    color: rgb(160, 158, 158);

}

.footer-copyright{
    height: 50px;
    width: 80%;
    /* background-color: rgb(223, 32, 89); */
    margin-left: 25px;
    margin-top: 42px;
    font-size: 14px;
    padding-left: 20px;
    color: rgb(160, 158, 158);

}